:root {
	--color-light: var(--color-neutral-200);
	--color-dark: var(--color-neutral-800);
	--color-primary: #ff4c24;
	--color-neutral-100: #ffffff;
	--color-neutral-200: #efeeec;
	--color-neutral-300: #e3e1de;
	--color-neutral-400: #cbc8c5;
	--color-neutral-500: #818180;
	--color-neutral-600: #2c2c2c;
	--color-neutral-700: #1f1f1f;
	--color-neutral-800: #131313;
	--color-neutral-900: #000000;
	--color-white: var(--color-neutral-100);
	--color-black: var(--color-neutral-900);
	--color-error: var(--color-primary);
	--color-success: #0ba954;
	--cubic-default: cubic-bezier(0.65, 0.05, 0, 1);
	--duration-default: 0.735s;
	--animation-default: var(--duration-default) var(--cubic-default);
	--gap: 2em;
	--section-padding: calc(3.5em + (var(--gap) * 2));
	--container-padding: 2em;
	--header-height: calc(1.5em + (var(--gap) * 2));
	--footer-height: calc(2.785em + (var(--gap) * 2));
}

/* Desktop */
:root {
	--size-unit: 16;
	--size-container-ideal: 1440;
	--size-container-min: 992px;
	--size-container-max: 1920px;
	--size-container: clamp(
		var(--size-container-min),
		100vw,
		var(--size-container-max)
	);
	--size-font: calc(
		var(--size-container) / (var(--size-container-ideal) / var(--size-unit))
	);
}

/* Tablet */
@media screen and (max-width: 991px) {
	:root {
		--container-padding: 1.5em;
		--size-container-ideal: 834;
		--size-container-min: 768px;
		--size-container-max: 991px;
	}
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
	:root {
		--container-padding: 1em;
		--size-container-ideal: 390;
		--size-container-min: 480px;
		--size-container-max: 767px;
	}
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
	:root {
		--size-container-ideal: 390;
		--size-container-min: 320px;
		--size-container-max: 479px;
	}
}

/* ------------------------- Hide Scrollbar -------------------------------------------------- */
body ::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

/* Chrome, Safari, Opera */
body {
	-ms-overflow-style: none;
}

/* IE & Edge */
html {
	scrollbar-width: none;
}

/* Firefox */
/* ------------------------- Reset -------------------------------------------------- */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: initial;
}

html,
body {
	-webkit-font-smoothing: antialiased;
}

svg {
	max-width: none;
	height: auto;
	box-sizing: border-box;
	vertical-align: middle;
}

a {
	color: inherit;
}

/* Selection */
::selection,
::-moz-selection {
	background-color: var(--color-primary);
	color: var(--color-dark);
	text-shadow: none;
}

@mixin p-large {
	font-size: 1.125em;
	font-family: Arial, Helvetica;
}

/* Custom */
@font-face {
	font-family: "PP Neue Corp Tight";
	src: url("https://cdn.prod.website-files.com/673af51dea86ab95d124c3ee/673b0f5784f7060c0ac05534_PPNeueCorp-TightUltrabold.otf")
		format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.shared-style-ui {
	align-items: stretch;
	flex-flow: column;
	justify-content: space-between;
	pointer-events: none;
	z-index: 0;
}

.nav-row {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;

	> a {
		align-items: center;
		display: flex;
		justify-content: space-between;
		pointer-events: auto;
		width: 13em;

		svg {
			&:first-of-type {
				width: 4em;
			}

			&:last-of-type {
				width: 1.5em;
				height: 1.5em;
			}
		}
	}

	> div {
		grid-column-gap: 0.625rem;
		grid-row-gap: 0.625rem;
		pointer-events: auto;
		justify-content: flex-end;
		align-items: center;
		display: flex;
	}
}

.header {
	z-index: 110;
	padding-top: var(--gap);
	position: fixed;
	inset: 0% 0% auto;

	> .container {
		max-width: 100%;
	}
}

.container {
	z-index: 1;
	max-width: var(--size-container);
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

p {
	margin: 0px;
}

.cloneable {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100svh;
	padding: var(--section-padding) var(--container-padding);
	position: relative;
	--menu-padding: 2em;

	> svg {
		width: 8em;
	}
}

.nav {
	display: block;
	height: 100vh;
	inset: 0%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.overlay {
	background-color: #13131366;
	cursor: pointer;
	height: 100%;
	inset: 0%;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.menu {
	align-items: flex-start;
	flex-flow: column;
	grid-column-gap: 5em;
	grid-row-gap: 5em;
	height: 100%;
	justify-content: space-between;
	margin-left: auto;
	overflow: auto;
	padding-bottom: var(--menu-padding);
	padding-top: calc(3 * var(--menu-padding));
	position: relative;
	width: 35em;

	@media screen and (max-width: 479px) {
		padding-top: calc(7 * var(--menu-padding));
		padding-bottom: calc(2 * var(--menu-padding));
	}

	&-bg {
		inset: 0%;
		position: absolute;
		z-index: 0;
	}

	&-inner {
		align-items: flex-start;
		display: flex;
		flex-flow: column;
		grid-column-gap: 5em;
		grid-row-gap: 5em;
		height: 100%;
		justify-content: space-between;
		overflow: auto;
		position: relative;
		z-index: 1;

		> div {
			align-items: flex-start;
			display: flex;
			flex-flow: column;
			grid-column-gap: 1.25em;
			grid-row-gap: 1.25em;
			justify-content: flex-start;
			padding-left: var(--menu-padding);

			> p {
				font-size: 0.875em;
				font-family: Arial, Helvetica;
			}
		}
	}
}

.bg-panel {
	background-color: var(--color-neutral-300);
	border-bottom-left-radius: 1.25em;
	border-top-left-radius: 1.25em;
	inset: 0%;
	position: absolute;
	z-index: 0;

	&:nth-child(1) {
		background-color: var(--color-primary);
	}

	&:nth-child(2) {
		background-color: var(--color-neutral-100);
	}
}

.menu-list {
	display: flex;
	flex-flow: column;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	width: 100%;

	> li {
		overflow: hidden;
		position: relative;

		.eyebrow {
			color: var(--color-primary);
			font-family: RM Mono, Arial, sans-serif;
			font-weight: 400;
			position: relative;
			text-transform: uppercase;
			z-index: 1;
		}
	}
}

.menu-link {
	display: flex;
	grid-column-gap: 0.75em;
	grid-row-gap: 0.75em;
	padding-bottom: 0.75em;
	padding-left: var(--menu-padding);
	padding-top: 0.75em;
	text-decoration: none;
	width: 100%;

	&-heading {
		font-family: PP Neue Corp Tight, Arial, sans-serif;
		font-size: 5.625em;
		font-weight: 700;
		line-height: 0.75;
		position: relative;
		text-shadow: 0px 1em 0px var(--color-neutral-200);
		text-transform: uppercase;
		transition: transform 0.55s cubic-bezier(0.65, 0.05, 0, 1);
		z-index: 1;
	}

	&-bg {
		background-color: var(--color-neutral-800);
		inset: 0%;
		position: absolute;
		transform-origin: 50% 100%;
		transform-style: preserve-3d;
		transform: scale3d(1, 0, 1);
		transition: transform 0.55s cubic-bezier(0.65, 0.05, 0, 1);
		z-index: 0;
	}
}

.socials-row {
	grid-column-gap: 1.5em;
	grid-row-gap: 1.5em;
	flex-flow: row;
	display: flex;

	> a {
		@include p-large;
		text-decoration: none;
		position: relative;
	}
}

.menu-button {
	align-items: center;
	background-color: #0000;
	border: none;
	display: flex;
	grid-column-gap: 0.625em;
	grid-row-gap: 0.625em;
	justify-content: flex-end;
	margin: -1em;
	padding: 1em;

	&-icon {
		width: 1em;
		height: 1em;
	}

	&-text {
		@include p-large;
		align-items: flex-end;
		display: flex;
		flex-flow: column;
		height: 1.125em;
		justify-content: flex-start;
		overflow: hidden;
	}
}

.icon-wrap {
	transition: transform 0.4s cubic-bezier(0.65, 0.05, 0, 1);
	margin: 0;
}

@media (hover: hover) {
	/* Menu toggle button*/
	/* Menu Large Links */
	/* Menu Smaller Links */
	.menu-button:hover {
		.icon-wrap {
			transform: rotate(90deg);
		}
	}

	.menu-link {
		&:hover {
			.menu-link {
				&-heading {
					transform: translate(0px, -1em);
					transition-delay: 0.1s;
				}

				&-bg {
					transform: scale(1, 1);
				}
			}
		}
	}

	.socials-row {
		> a {
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background: var(--color-primary);
				transform-origin: right center;
				transform: scale(0, 1);
				transition: transform 0.4s var(--cubic-default);
			}

			&:hover::after {
				transform-origin: left center;
				transform: scale(1, 1);
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.cloneable {
		--menu-padding: 1em;
	}

	.nav-row {
		> a {
			grid-column-gap: 2.5em;
			grid-row-gap: 2.5em;
			width: auto;
		}

		> div {
			grid-column-gap: 0rem;
			grid-row-gap: 0rem;
		}
	}

	.menu {
		padding-top: calc(6 * var(--menu-padding));
		width: 100%;
	}

	.bg-panel {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.menu-list > li {
		height: 4.5em;
	}

	.menu-link-heading {
		font-size: 4em;
	}

	.socials-row {
		grid-column-gap: 1em;
		grid-row-gap: 1em;

		> a {
			font-size: 1em;
		}
	}
}
